{% extends "model_page.html" %}

{% block content %}
<table id="tabela_superior">
    <tr>
        <th>
            <h2 align="left">Cadastrar Eventos</h2>
        </th>
    </tr>
</table>
<div class="div1">
    <form action="submit" method="post">
        {% csrf_token %}
        <input type="number" name="id_evento" value="{{ evento.id }}" hidden>
        <label>Titulo:</label>
        <input type="text" name="titulo" value="{{ evento.titulo }}" placeholder="Ex: Reunião, Dentista, ..." required oninvalid="this.setCustomValidity('Campo requerido')">
        <label>Data e Hora do Evento:</label>
        <input type="datetime-local" name="data_evento" value="{{ evento.get_input_data_evento }}" required oninvalid="this.setCustomValidity('Campo requerido')">
        <label>Descrição:</label>
        <textarea name="descricao" rows="5">{{evento.descricao}}</textarea>
        <div align="center">
            <input type="submit" value="Salvar">
            <a href="/">
                <input type="" value="Cancelar">
            </a>
        </div>
    </form>
  </div>
{% endblock %}